#mainblock{
  background-color:#204f65;
  
}

#text
{
  font-family: 'Times New Roman', Times, serif;
  background-color: rgba(195, 178, 178, 0.318);
  color: white;
  display: flex;
  justify-content: center;
}